* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  margin: auto;
  text-decoration: none;
}
body{
  background-color: #d9d5d5;
}

.banner {
  background-image: url(../images/bg-3.jpg);
  height: 500px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: right center;
}

.banner ul {
  text-align: right;
  margin-right:50px;
}

.banner li {
  display: inline-block;
  background-color: #867e7e;
  padding: 10px;
  margin-top: 30px;
  margin-right: 10px;
  border: 2px solid #fff;
  
}

.banner a{
  color: #fff;
}

.banner-content {
  margin: 200px auto;
  text-align: center;
}

.banner-content h1 {
  color: #fff;
  text-shadow: 5px 5px black;
  font-size: 50px;
}

.banner-content p {
  color: #fff;
  background-color: black;
  font-size: 20px;
  margin: 20px 500px;
  padding: 10px;
  border-bottom: 5px solid;
}

main{
  background-color: #d3d0d0;
}





.description{
  width: 80%;
  height: 220px;
  background-color: #fff;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
  

}

.description header{
  background-color: #d3d0d0;
  padding: 8px;
  margin-bottom: 10px;
  border-bottom: 3px solid #a39e9e;
}

.description p{
  padding: 5px;
  margin-bottom: 20px;
}

.description a{
  background-color: #867e7e;
  padding: 12px 15px;
  border-radius: 5px;
  margin-top: 50px;
  
  
}

footer{
  height: 100px;
  background-color: #545050;
  color: #fff;
  text-align: center;
  
  padding-top: 40px;
}



