* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    box-sizing: border-box;
}

body {

    width: 100%;
    margin: auto;

    background-image: url(./images/bg-3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto auto;
    background-position: top;
    box-sizing: border-box;

}

a {

    color: #fff;
}

nav ul {
    text-align: right;
    margin-right: 50px;

}

nav li {
    display: inline-block;
    background-color: #6e6969;
    padding: 10px;
    margin-right: 10px;

    border: 2px solid #fff;

}

h1 {
    text-align: center;
    color: #fff;
    font-size: 35px;
    margin-top: 60px;

}

header h3 {
    width: 35%;
    text-align: center;
    color: #fff;
    margin: 60px auto;
    padding: 15px;
    background-color: #000;
    border-bottom: 5px solid #fff;
}

section {
    background-color: #c0c5c5;
    margin: 150px auto;
    padding: 10px;
}

section article {
    background-color: #fff;
    width: 80%;
    margin: 10px auto;
    padding: 5px;
    display: block;

}

section article h3 {
    background-color: #c0c5c5;
    margin: 5px;
    padding: 10px;

}

article p a {
    color: #000;
    background-color: #6e6969;
    margin: 5px;
    padding: 10px;
}

footer {
    text-align: center;
    background-color: #6e6969;
    padding: 5px;
}