html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(../imagens/bg-2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: right center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
   

    
}

.banner-content h1{
    color: white;
    font-size: 48px;
    text-shadow: 0 5px 5px black;
    letter-spacing: 3px;
    padding-top: 100px;
    
   
}

